<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projetTournoi.Properties.Settings.TorDBConnectionString"
            connectionString="Data Source=172.18.0.102;Initial Catalog=TorDB;Persist Security Info=True;User ID=Groupe21;Password=TorCompany12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>